/* START css for meny-en på verktøyvisning side */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  color: white;
  background-color: rgb(241, 241, 241);
}

#admin{
  
  margin-right: 30px;
}
/* END css for meny-en på verktøyvisning side */

select {
  height: 70px;
  width: 240px;
  
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  
}

#bruker_valg {
  font-size: 30px;
}

#theme-select {
  font-size: 30px;
}
.velg_bruker_tekst {
  margin-right: 30%;
}