



table, th, td {
    border: 3px solid;
    color: #e00000;
}

body {
        background-color: #ffffff;
}

table {
    background-color: #7a3030;
    width: 25%;
    border-collapse: collapse;
    border-color: #00334d;
    font-family: Drive,Helvetica,Arial,sans-serif;
    margin: auto;
}