



table, th, td {
    border: 3px solid;
    color: #333333;
}

body {
        background-color: #ffffff;
}

forside

table {
    background-color: #f2f2f2;
    width: 25%;
    border-collapse: collapse;
    border-color: #00334d;
    font-family: Drive,Helvetica,Arial,sans-serif;
    margin: auto;
    
}