body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=text] {
  width:75%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.form{
    background-color: #032530;
    width: 72%;
    height: 175px;
    display: flex;
    justify-content: start;
    margin-top: 15px;
    padding: 10px;
}
.form2{
    background-color: #032530;
    width: 73%;
    height: 150px;
    display: flex;
    justify-content: start;
    margin-top: 15px;
    
}

.center{
    background-color: none;
    width: 100%;
    height: 100%;
}

.innpakning{
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 100%;
    height: 45px;
    background-color: none;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    float: right;
}

.input2{
    width: 100%;
    height: 30%;
    background-color: none;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    float: right;
}

.tekst{
    width: 25%;
    background-color: none;
    font-size: 25px;
    font-family: 'Montserrat';
    color: white;
}

.box{
    background-color: none;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: start;
    
}

.data{
    background-color: white;
    width: 70%;
    height: 95%;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-size: 20px;
}

.kit_select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 15px;
}

.submit{
    background-color: none;
    margin-top: 15px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.button{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border-width: 1px;
    font-family: 'Montserrat';
    font-size: 25px;
    cursor: pointer;
}
.button2{
    width: 100%;
    height: 25%;
    border-radius: 50px;
    border-width: 1px;
    font-family: 'Montserrat';
    font-size: 25px;
    cursor: pointer;
}


.button:hover{
    background-color: black;
    color: white;
}

.melding_box{
    width: 400px;
    height: 100px;
}

.melding{
    color: black;
    font-family: 'Montserrat';
    font-size: 25px;
}

.bruker_select {
    width: 75%;
    padding: 12px 20px;
    font-size: 15px;
}